/.env
/.byebug_history
/.bundle/
/.legacy/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec_data/.cookies
/spec_data/cassetes/*
!/spec_data/cassetes/README.md
/spec_data/responses/*
!/spec_data/responses/README.md
/tmp/
